.usercard {
  .anticon {
    margin-right: 9px;
    margin-top: 9px;
  }
  .user-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .user-details {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .ant-card-actions {
    background: #ebe7e7;
  }
  .ant-card-body {
    padding: 15px;
  }
}

// @media only screen and (min-width: 600px) {
//   .usercard {
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 6px;
//     display: grid;
//     justify-items: center;
//   }
// }
// @media only screen and (max-width: 600px) {
//   .usercard {
//     grid-template-columns: repeat(1, 1fr);
//     grid-gap: 6px;
//     display: grid;
//     justify-items: center;
//   }
// }
// @media only screen and (min-width: 768px) {
//   .usercard {
//     grid-template-columns: repeat(4, 1fr);
//     grid-gap: 6px;
//     display: grid;
//     justify-items: center;
//   }
// }
